body{
    margin: 0;
    padding: 0;
    background-color: #66ff99;
    font-family: Poppins-Regular, sans-serif;
}

.container{
    width: 910px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 810px;
}

.box{
    border-radius: 20px;
    padding: 140px 70px 20px 102px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
    width: 715px;
    height: 810px;
}

.box h1{
    color: #333333;
    font-weight: 900;
    font-size: 78px;
    font-family: 'Poppins', sans-serif;
}

.box a{
    font-weight: 400;
    font-size: 51px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 3px solid deepskyblue;
    color: black;
}

.box a:hover{
  border: 2px solid black;
}