body{
    margin: 0;
    padding: 0;
    background-color: #66ff99;
    font-family: Poppins-Regular, sans-serif;
}

.container{
    width: 910px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 810px;
}

.box{
    border-radius: 20px;
    padding: 140px 70px 20px 102px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
    width: 715px;
    height: 810px;
}

.box h1{
    color: #333333;
    font-weight: 900;
    font-size: 78px;
    font-family: 'Poppins', sans-serif;
}

.box h2{
    color: #333333;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.box input[type="text"],.box input[type="password"]{
  border:0;
  background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 501px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 40px;
}

.box input[type="submit"]{
    background: none;
    font-size: 40px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 18px 40px;
    border-radius: 11px;
    transition: 0.7s;
    cursor: pointer;
    margin-left: 13px;
    padding-left: 38px;
}

.box input:hover{
  background: #e6ffee;
  border: 2px solid black;
}