body{
    margin: 0;
    padding: 0;
    background-color: #66ff99;
    font-family: Poppins-Regular, sans-serif;
}

.container{
    width: 910px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 810px;
}

.container .isFish, .container .notFish{
    position: absolute;
    top: 601px;
    font-size: 41px;
    width: 50%;
    right: 200px;
    border: 4px solid black;
    background: #FFFFE0;
    padding: 17px;
    text-align: justify;
    height: 260px;
    display: none;
}

.container .isFish{
    height: 315px;
}

.container .ok, .container .ok2{
    font-size: 37px;
    font-weight: 800;
    background-color: black;
    color: white;
    width: 64px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 162px;
    padding: 0px;
    left: 218px;
}

.container .ok2{
    top: 209px;
    left: 232px;
}

.box{
    border-radius: 20px;
    padding: 40px 110px 13px 89px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
    width: 715px;
    height: 810px;
}

.box h1{
    color: #333333;
    font-weight: 900;
    font-size: 78px;
    font-family: 'Poppins', sans-serif;
}

.box h2{
    color: darkred;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.box input[type="text"],.box input[type="password"]{
  border:0;
  background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 501px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 40px;
}

.box input[type="button"]{
    background: none;
    font-size: 40px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 18px 40px;
    border-radius: 11px;
    transition: 0.7s;
    cursor: pointer;
    margin-left: 13px;
    padding-left: 38px;
}

.box input:hover{
  background: #e6ffee;
  border: 2px solid black;
}

.container a{
    font-weight: 400;
    font-size: 43px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 3px solid black;
    color: deeppink;
    padding: 13px;
    border-radius: 13px;
}